@import 'styles/main';

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.short-url {
  width: 100%;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;

  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  .short-url__container {
    width: calc( 70% + 5em ); 
    margin: 0.7em auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    @include flexbox();
    @include flex-flow( row );
    @include justify-content( space-between );
    @include align-items( center );

    padding: 0.5em 0;
    background: #fff;
    border-radius: 5px;

    .short-url__link {
      margin-left: 1em
    }

    .short-url__short-link-container {
      @include flexbox();
      @include flex-flow( row );
      @include align-items( center );
      margin-right: 1em;

      .short-url__short-link {
        color: $cyan;
        margin-right: 1em;
      }

      .short-url__copy {
        width: 6em;
      }
    }
  }
}
