@import 'styles/main';

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.short-url {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;

  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  margin: 0;
  padding: 1rem 0;
  border-radius: 0.4rem;
  background-color: $white;

  @include flexbox();
  @include flex-flow(column);
  row-gap: 0.5rem;
  overflow: hidden;

  .short-url__short-link {
    color: $cyan;
    padding: 0 1rem;
  }

  .short-url__link {
    border-bottom: 1px solid $gray;
    padding: 0rem 1rem 0.5rem 1rem;
    color: $very-dark-blue;
  }

  .btn-square {
    margin: 0rem 1rem 0rem 1rem;
    padding: 0.8rem 0;
  }

  .short-url__links {
    @include flexbox();
    @include flex-flow(column);
    row-gap: 0.5rem;
  }

  @include media(">=desktop") {
    @include flex-flow(row);
    @include justify-content(space-between);
    @include align-items(center);
    column-gap: 1rem;
    padding: 1rem 1.5rem;

    .short-url__links {
      @include flex-flow(row);
      @include justify-content(space-between);
      @include align-items(center);
      width: 100%;
      font-size: 1.2rem;
      column-gap: 1rem;
    }

    .short-url__link {
      border: none;
      padding: 0;
    }

    .short-url__short-link {
      padding: 0;
    }

    .btn-square {
      width: 10%;
      height: max-content;
      padding: 0.6rem;
      margin: 0;
    }
  }
}
