@import 'styles/main';

.btn {
  background: $btn-inactive;
  padding: 0.5em 1em;
  color: #fff;
  font-size: 1em;
  border: none;

  &:hover {
    background: lighten( $btn-inactive, 20% );
  }
}

.btn.btn-pill {
  border-radius: 3em;
}

.btn.btn-square {
  border-radius: 5px;
}
