@import 'styles/main';

.btn {
  background: $btn-inactive;
  padding: 0.5em 1em;
  color: #fff;
  font-size: 1em;
  border: none;
  font-weight: bold;

  &:hover {
    background: lighten( $btn-inactive, 20% );
    cursor: pointer;
  }
}

.btn.btn-pill {
  border-radius: 3em;
}

.btn.btn-square {
  border-radius: 5px;
}

.btn.btn-active {
  background: $btn-active;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;


  &:hover {
    background: $btn-active;
  }
}
