@import 'styles/main';

.url-shortener {
  width: 100%;
  
}

.url-shortener__container {
  background: $dark-violet;
  background-image: url( './images/bg-shorten-desktop.svg' );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 2.5em;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
  margin-top: 4rem;

  .url-shortener__form {
    @include flexbox();
    @include flex-flow( row );
    @include justify-content( space-between );
    width: 100%;
    height: 100%;

    .url-shortener__link-error {
      border-color: $red;
      border: 0.2em solid $red !important;
    }

    .url-shortener__input-container {
      width: 80%;
      position: relative;

      .url-shortener__error {
        display: none;
        color: $red;
        font-size: 0.7em;
        position: absolute;
        margin-top: 0.5em;
        font-style: italic;
        font-weight: normal;
      }
    }
  }

  #url-link {
    height: 1.5em;
    padding: 0.7em;
    border-radius: 10px;
    width: 100%;
    font-size: 1rem;

    @include placeholder {
      color: $grayish-violet;
    }

  }
}
