@import 'styles/main';

.main {
    overflow-x: hidden;
}

.promo {
    background-color: $gray;
    margin-top: 9rem;
    height: 100%;
    margin-bottom: -1rem;

    @include media(">=desktop") {
        margin-top: 10rem;
    }
}
