@import 'styles/main';

.boost-links {
  @include flexbox();
  @include justify-content( center );
  padding: 3em 0;
  background: $dark-violet;
  background-image: url( './images/bg-boost-desktop.svg' );
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  .boost-links__content {
    color: #fff;
    @include flexbox();
    @include flex-flow( column );
    @include align-items( center );

    .btn.btn-pill {
      margin-top: 1rem;
      padding: 1rem;
      width: 60%;
      @include media(">=desktop") {
        width: 30%;
        font-size: 1.5rem;
      }
    }

    @include media(">=desktop") {
      width: 40%;
      font-size: 1.5rem;
    }
  }
}

