@import 'styles/main';

.stats {
  width: 100%;
  @include flexbox();
  @include flex-flow( column );
  @include align-items( center );
  text-align: center;
  padding-bottom: 5rem;


  .stats__header {
    @include media(">=desktop") {
      width: 30%;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .stats__title {
      margin-bottom: 1rem;
      @include media(">=desktop") {
        font-size: 2.5rem;
      }
    }

    .subtitle {
      text-align: center;
      margin: 0 auto;
      color: $secondary-text;
    }
  }

  .stats__cards {
    @include flexbox();
    @include flex-flow(column);
    row-gap: 4rem;

    @include media(">=desktop") {
      width: 80%;
      margin: 0 auto;
      @include flex-flow( row );
      @include justify-content( center );
      margin-top: 4rem;
      position: relative;

      .stats__line {
        background: $cyan;
        width:  70%;
        height: 0.5rem;
        position: absolute;
        top: 45%;
        left: 20%;
      }

      .card {
        height: max-content;
      }

      .card:nth-child(3) {
        margin-top: 3rem;
      }

      .card:nth-child(4) {
        margin-top: 6rem;
      }
    }
  }
}
