@import 'styles/main';

.container {
  width: 70%;
  margin: 0 auto;
  margin-top: 2em;
}

.gray-background {
  background: #f0f1f6;
  height: 140vh;
  width: 70%;
  z-index: -1;
  position: absolute;
  margin-top: 8rem;
}
