@import 'styles/main';

.banner {
  background: inherit;
  margin-top: 3em;

  @include flexbox();
  @include justify-content( space-between );
  width: 70%;
  height: 100%;
  margin: 0 auto;
  margin-top: 2em;


  .banner__text {
    @include flexbox();
    @include flex-flow( column );
    justify-content: center;
    align-items: flex-start;
    width: 70%;

    .banner__title {
      font-size: 2.3em;
    }
  }

  .banner__img {
    position: relative;
    width: 60%;
    height: auto;
    left: 20%;
  }

  button.btn {
    margin-top: 1em;
  }
}
